h1 {
  font-size: 2em;
  color: #bf4f74;
}

h2 {
  font-size: 1.75em;
  color: #4f74bf;
}

h3 {
  font-size: 1.5em;
  color: #74bf4f;
}

h4 {
  font-size: 1.25em;
  color: #4f4fbf;
}

h5 {
  font-size: 1em;
  color: #bf4fbf;
}

h6 {
  font-size: 0.875em;
  color: #4fbf74;
}
