<app-modal *ngIf="isModalVisible$ | async" (modalClose)="handleClose()">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <app-modal-header [title]="title"></app-modal-header>
    <app-modal-body fxLayout="column">
      <app-form-control>
        <app-input
          formControlName="title"
          placeholder="Заголовок списка"
          label="Заголовок списка"
          name="title"
        />
        <ng-container *ngIf="submitted && form.get('title')?.errors">
          <app-error-form [control]="form.get('title')" />
        </ng-container>
      </app-form-control>
    </app-modal-body>
    <app-modal-footer>
      <app-button type="submit" title="Отправить" />
      <app-button title="Закрыть" (click)="handleClose()" />
    </app-modal-footer>
  </form>
</app-modal>
