.btn {
  $btn: &;
  padding: 10px;
  border: none;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition:
    transform 1s ease 0s,
    background-color 0.2s ease 0s;
  &--modal {
    position: absolute;
    top: 0px;
    right: -50px;
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    &:hover {
      transform: rotate(360deg);
      background: #000;
    }
  }
  &--text {
    padding: 0;
    background: none;
    color: #000;
    text-decoration: underline;
  }
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
